@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #000300;
} */
body {
  /* background-color: rgb(54, 114, 132); */
  background-image: url("../src/assets/backgroundimage1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
